Package: apache-fancy-pages
Version: 0.1.8
Maintainer: kristuff <kristuff@kristuff.fr>
Architecture: all
Depends: apache2
Description: Responsive Apache2 index/error pages.
Priority: optional
Section: utils
